@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    gap: 14px;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.spotifyPlaylist {
    padding: 16px;
}

.card {
    width: 200px;
    padding: 10px;
    background-color: #252525;
    border-radius: 5px;
    position: relative;
}

.cardcontainer {
    padding-top: 15px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
    margin: 30px;

}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;

}

.buttons > *{
    margin: 0 12px;
}

.signupbtn{
    background-color: rgb(34 34 34);
    color: rgb(156 148 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;

}

.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn{
    background-color: white;
    border-radius: 21px;
    color:black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;

}

.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
}

.playbar{
    width: 90%;
    background-color: #dad5d5;
    bottom: 30px;
    position: fixed;
    padding: 12px;
    width: 70vw;
    filter: invert(1);
    border-radius: 10px;
    height: 40px;
}

.songbutton{
    display: flex;
    gap:16px;
    justify-content: center;
}

.songlist{
    padding: 15px;
    height: 344px;
    overflow: auto;
    margin-bottom: 44px ;
}

.songlist ul{
padding: 0px 12px;
}

.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;
}
 
.songlist .info{
    font-size: 13px;
    width: 344px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 13px;
    width: 64px;
    padding: 12px;
}

.seekbar{
    height: 2px;
    width: 98%;
    background:  black;
    border-radius: 10px;
    position: absolute;
    bottom: 2px;
    margin: 6px;
    cursor: pointer;
}

.circle{
    position: relative;
    width: 13px;
    height: 13px;
    background-color: black;
    border-radius: 13px;
    bottom:6px;
    left: 0%;
}

.songtime , .songinfo {
    color: black;
    padding: 0 12px;
}

.songbutton img{
    cursor: pointer;
}

.abovebar{
    display: flex;
    justify-content: space-between;
}